COGNITO_DOMAIN=https://ap-south-1_xyzxyzxyzx.auth.ap-south-1.amazoncognito.com
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_REGION=ap-south-1
COGNITO_USER_POOL_ID=ap-south-1_xyzxyzxyzx
COGNITO_REDIRECT_URI=http://localhost:7410
ENVIRONMENT=development #production